---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.scss";
import "../styles/waline.scss";
import "../styles/transitions.scss";
interface Props {
  title: string;
  description: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="apple-touch-icon" href="/favicon.png">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />

<!-- Page Specific Metadata -->
<title>{title}</title>
<meta name="description" content={description} />
{image && <meta property="og:image" content={image} />}
<link rel="canonical" href={canonicalURL.toString()} />

<!-- Font preloads -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cn-fontsource-fz-hei-b-01-regular/font.css"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Pattaya&display=swap" rel="stylesheet">

<!-- Scripts preloads -->
<script src="../scripts/imgs.js"></script>
<script src="../scripts/hitokoto.js"></script>
<script src="../scripts/pageload.js"></script>
